.container.admin
  = render 'shared/navigation_admin'
  .row
    .col-lg-10
      .chart
        %h3.module_header
          A&ntilde;os de Colecta
          %span.count
            #{@years.count}
          %span{style: 'float: right;'}
        %br
    .col-lg-2
      %a.my_button{href: new_admin_collect_year_path, style: 'margin-top: 30px;'}
        Nuevo A&ntilde;o de Colecta
    .col-lg-12
      .well
        .row
        .report-content
          = render 'list'